<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunk-man</title>
    <link rel="stylesheet" href="../assets/styleProductList.css">
</head>
<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda | </a> 
            <a href="/login">Iniciar Sesión | </a> 
            <a href="/signUp">Registrarse</a>
         </div>

        </div>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/dunk_man">Hombre</a></li>
                    <li><a href="/dunk_man">Mujer</a></li>
                    <li><a href="/dunk_man">Niño/a</a></li>
                    <li><a href="/dunk_man">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
                <a href="#" class="cart"><img width="30rem" src="../media/basket.svg" alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <main>
        <header id="header-main">
            <h2>Zapatillas para hombre</h2>
            <div id="top-filter">
                <p>Ocultar filtros</p>
                <div id="filter">
                    <a href=""><img src="../media/filter.png" alt=""></a>
                </div>
                <p>Ordenar por</p>
                <div class="drop">
                    <a class="dropbtn"><img src="../media/dropdown.png" alt=""></a>
                    <div class="dropdown">
                        <ul>
                            <li>Destacados</li>
                            <li>Más recientes</li>
                            <li>Precio: Alto-Bajo</li>
                            <li>Precio: Bajo-Alto</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <article>
                <a href="/dunk_man/dunk1"><img src="../media/dunk1.png" alt=""></a>
                <p>Dunk1</p>
                <p>119.90€</p>
                <div class="subproduct">
                    <img src="../media/dunk1.png" alt="">
                    <img src="../media/dunk2.png" alt="">
                    <img src="../media/dunk3.png" alt="">
                </div>
            </article>
            <article>
                <a href="/dunk_man/dunk2"><img src="../media/dunk4.png" alt=""></a>
                <p>Dunk2</p>
                <p>144.50€</p>
                <div class="subproduct">
                    <img src="../media/dunk4.png" alt="">
                    <img src="../media/dunk5.png" alt="">
                </div>
            </article>
            <article>
                <a href="/dunk_man/dunk3"><img src="../media/dunk6.png" alt=""></a>
                <p>Dunk3</p>
                <p>133.30€</p>
                <div class="subproduct">
                    <img src="../media/dunk6.png" alt="">
                    <img src="../media/dunk7.png" alt="">
                </div>
            </article>
            <article>
                <a href="/dunk_man/dunk4"><img src="../media/dunk9.png" alt=""></a>
                <p>Dunk4</p>
                <p>175.50€</p>
                <div class="subproduct">
                    <img src="../media/dunk9.png" alt="">
                    <img src="../media/dunk10.png" alt="">
                </div>
            </article>
            <article>
                <a href="/dunk_man/dunk5"><img src="../media/dunk11.png" alt=""></a>
                <p>Dunk5</p>
                <p>225.35€</p>
                <div class="subproduct">
                    <img src="../media/dunk11.png" alt="">
                    <img src="../media/dunk12.png" alt="">
                    <img src="../media/dunk13.png" alt="">
                </div>
            </article>
            <article>
                <a href="/dunk_man/dunk6"><img src="../media/dunk14.png" alt=""></a>
                <p>Dunk6</p>
                <p>155.90€</p>
                <div class="subproduct">
                    <img src="../media/dunk14.png" alt="">
                    <img src="../media/dunk15.png" alt="">
                    <img src="../media/dunk16.png" alt="">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">GHOSPER</p>
            </div>
            <div class="right-section-footer">
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                    </li>
                    <li><a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="../media/instagram.svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>