<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styleSpecificProduct.css">
    <title>SpecificProduct</title>
</head>
<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda | </a> 
            <a href="/login">Iniciar Sesión | </a> 
            <a href="/signUp">Registrarse</a>
         </div>

        </div>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/productList">Hombre</a></li>
                    <li><a href="/productList">Mujer</a></li>
                    <li><a href="/productList">Niño/a</a></li>
                    <li><a href="/productList">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
                <a href="#" class="cart"><img width="30rem" src="../media/basket.svg" alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <main>
        <section>
            <article id="first-section">
                <img src="../media/dunk3.1.png" alt="">
                <img src="../media/dunk3.2.png" alt="">
                <img src="../media/dunk3.3.png" alt="">
                <img src="../media/dunk3.4.png" alt="">
                <img src="../media/dunk3.5.png" alt="">
                <img src="../media/dunk3.6.png" alt="">
                <img src="../media/dunk3.7.png" alt="">
            </article>
            <article id="second-section">
                <img src="../media/dunk6.png" alt="">
            </article>
            <article>
                <div id="third-section">
                    <h4>Dunk3 Zapatillas-Hombre</h4>
                    <p>€133.30</p>
                    <div id="subproduct">
                        <img src="../media/dunk6.png" alt="">
                        <img src="../media/dunk7.png" alt="">
                    </div>
                    <p>Selecciona tu talla</p>
                    <div id="fourth-section">
                        <p class="size">EU 36.0</p>
                        <p class="size">EU 36.5</p>
                        <p class="size">EU 37.0</p>
                        <p class="size">EU 37.5</p>
                        <p class="size">EU 38.0</p>
                        <p class="size">EU 38.5</p>
                        <p class="size">EU 39.0</p>
                        <p class="size">EU 39.5</p>
                        <p class="size">EU 40.0</p>
                        <p class="size">EU 40.5</p>
                        <p class="size">EU 41.0</p>
                        <p class="size">EU 41.5</p>
                        <p class="size">EU 42.0</p>
                        <p class="size">EU 42.5</p>
                        <p class="size">EU 43.0</p>
                    </div>
                </div>
                <div id="buttons">
                    <button id="button1">
                        <p>Añadir a la cesta</p>
                        <img src="../media/basket.svg" alt="">
                    </button>
                    <button id="button2">
                        <p>Favoritos</p>
                        <img src="../media/heart.svg" alt="">
                    </button>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">GHOSPER</p>
            </div>
            <div class="right-section-footer">
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                    </li>
                    <li><a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="../media/instagram.svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>