<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styleGhosperClub.css">
    <title>GhosperClub</title>
</head>
<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda | </a> 
            <a href="/login">Iniciar Sesión | </a> 
            <a href="/signUp">Registrarse</a>
         </div>

        </div>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/productList">Hombre</a></li>
                    <li><a href="/productList">Mujer</a></li>
                    <li><a href="/productList">Niño/a</a></li>
                    <li><a href="/productList">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
                <a href="#" class="cart"><img width="30rem" src="../media/basket.svg" alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <main>
        <header>
            <h2>GhosperClub</h2>
        </header>    
        <h2 id="section-title">Novedades</h2>
        <section>
            <article>
                <img src="../media/club1.jpeg" alt="">
                <div class="description">
                    <p>Camiseta</p>
                    <div class="user">
                        <img src="../media/usertoken.png" alt="">
                        <p>ramon_97</p>
                    </div>
                </div>
                <p class="prize">12€</p>
            </article>
            <article>
                <img src="../media/club2.jpeg" alt="">
                <div class="description">
                    <p>Chaqueta</p>
                    <div class="user">
                        <img src="../media/usertoken.png" alt="">
                        <p>sumorenita_12</p>
                    </div>
                </div>
                <p class="prize">23€</p>
            </article>
            <article>
                <img src="../media/club3.jpeg" alt="">
                <div class="description">
                    <p>Blusa</p>
                    <div class="user">
                        <img src="../media/usertoken.png" alt="">
                        <p>alecaro_15</p>
                    </div>
                </div>
                <p class="prize">14€</p>  
            </article>
            <article>
                <img src="../media/club4.jpeg" alt="">
                <div class="description">
                    <p>Blusa</p>
                    <div class="user">
                        <img src="../media/usertoken.png" alt="">
                        <p>torresabrahamde</p>
                    </div>
                </div>
                <p class="prize">8€</p>
            </article>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">GHOSPER</p>
            </div>
            <div class="right-section-footer">
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                    </li>
                    <li><a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="../media/instagram.svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>