<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosper</title>
    <link rel="stylesheet" href="../assets/styleIndex.css">
</head>

<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda |</a>
            <a href="/login">Iniciar Sesión |</a>
            <a href="/signUp">Registrarse</a>
        </div>

        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
                <div id="container-darkMode">
                    <div class="toggle"></div>
                </div>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/feautured_man">Hombre</a>
                        <ul class="submenu">
                            <li><a href="/feautured_man">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="/feautured_man">Novedades</a></li>
                                    <li><a href="/feautured_man">Superventas</a></li>
                                    <li><a href="/feautured_man">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="/dunk_man">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="/dunk_man">Zapatillas</a></li>
                                    <li><a href="/dunk_man">Día a Día</a></li>
                                    <li><a href="/dunk_man">Running</a></li>
                                    <li><a href="/dunk_man">Football</a></li>
                                    <li><a href="/dunk_man">Basketball</a></li>
                                    <li><a href="/dunk_man">Gym</a></li>
                                    <li><a href="/dunk_man">Running</a></li>
                                    <li><a href="/dunk_man">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="/clothes_man">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="/clothes_man">Todas la ropa</a></li>
                                    <li><a href="/clothes_man">Sudaderas</a></li>
                                    <li><a href="/clothes_man">Pantalones</a></li>
                                    <li><a href="/clothes_man">Chaquetas</a></li>
                                    <li><a href="/clothes_man">Partes de arriba</a></li>
                                    <li><a href="/clothes_man">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="/sport_man">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="/sport_man">Running</a></li>
                                    <li><a href="/sport_man">Fútbol</a></li>
                                    <li><a href="/sport_man">Basketball</a></li>
                                    <li><a href="/sport_man">Tenis</a></li>
                                    <li><a href="/sport_man">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="/accesories_man">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="/accesories_man">Accesorios</a></li>
                                    <li><a href="/accesories_man">Bolsas y mochilas</a></li>
                                    <li><a href="/accesories_man">Calcetines</a></li>
                                    <li><a href="/ghosperClub">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Mujer</a>
                        <ul class="submenu">
                            <li><a href="#">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Novedades</a></li>
                                    <li><a href="#">Superventas</a></li>
                                    <li><a href="">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Zapatillas</a></li>
                                    <li><a href="#">Día a Día</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Football</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas la ropa</a></li>
                                    <li><a href="#">Sudaderas</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Chaquetas</a></li>
                                    <li><a href="#">Partes de arriba</a></li>
                                    <li><a href="#">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Accesorios</a></li>
                                    <li><a href="#">Bolsas y mochilas</a></li>
                                    <li><a href="#">Calcetines</a></li>
                                    <li><a href="/ghosperClub">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Niño/a</a>
                        <ul class="submenu">
                            <li><a href="#">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Novedades</a></li>
                                    <li><a href="#">Superventas</a></li>
                                    <li><a href="">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Zapatillas</a></li>
                                    <li><a href="#">Día a Día</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Football</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas la ropa</a></li>
                                    <li><a href="#">Sudaderas</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Chaquetas</a></li>
                                    <li><a href="#">Partes de arriba</a></li>
                                    <li><a href="#">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Accesorios</a></li>
                                    <li><a href="#">Bolsas y mochilas</a></li>
                                    <li><a href="#">Calcetines</a></li>
                                    <li><a href="/ghosperClub">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Ofertas</a>
                        <ul class="submenu">
                            <li><a href="#">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Novedades</a></li>
                                    <li><a href="#">Superventas</a></li>
                                    <li><a href="">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Zapatillas</a></li>
                                    <li><a href="#">Día a Día</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Football</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas la ropa</a></li>
                                    <li><a href="#">Sudaderas</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Chaquetas</a></li>
                                    <li><a href="#">Partes de arriba</a></li>
                                    <li><a href="#">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Accesorios</a></li>
                                    <li><a href="#">Bolsas y mochilas</a></li>
                                    <li><a href="#">Calcetines</a></li>
                                    <li><a href="/ghosperClub">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <input type="text" id="searchInput" placeholder="Buscar por nombre...">
            <button id="searchButton" onclick="search()">Buscar</button>
            <div class="container-icon">
                <img width="30rem" src="../media/heart.svg" alt="Favoritos">
                <div class="container-cart-icon">
                    <img class="icon-cart" width="30rem" src="../media/basket.svg" alt="Carrito">
                    <div class="count-products">
                        <span id="contador-productos">0</span>
                    </div>
                </div>
                <div class="container-cart-products hidden-cart">
                    <div class="row-product hidden">
                        <div class="cart-product">
                            <div class="info-cart-product">
                                <span class="cantidad-producto-carrito">1</span>
                                <p class="titulo-producto-carrito">Sudadera1</p>
                                <span class="precio-producto-carrito">€60</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="icon-close">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                    </div>
                    <div class="cart-total hidden">
                        <h3>Total:</h3>
                        <span class="total-pagar">€200</span>
                    </div>
                    <p class="cart-empty">El carrito está vacio</p>
                </div>
            </div>

        </div>
        </div>
    </header>


    <div class="carousel">
        <div class="slide">
            <img src="../media/photo2_carousel.jpg" alt="">
            <img src="../media/photo1_carousel.png" alt="">
        </div>
    </div>
    <br>
    <h2 class="index_container">Sudaderas</h2>

    <div class="clothes_container">
        <div class="item">
            <figure>
                <img src="../media/hoodie.png" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera 1</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/blue_hoodie.jpg" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera 2</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/nike_hoodie.jpg" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera 3</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/gray_hoodie.jpg" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera 4</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>

        <br>

        <div class="item">
            <figure>
                <img src="../media/trousers.webp" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón 1</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/gray_trouser.jpg" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón 2</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/black_trouser.jpg" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón 3</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/shorts.jpg" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón 4</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>
    <h2 id="trousers">Pantalones</h2>
    </div>
    <br>

    <footer>
        <div class="right-section-footer">
            <p class="store-name-footer">GHOSPER</p>
            <ul class="social-icons-footer">
                <a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                <a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a>
                <a href="#"><img src="../media/instagram.svg" alt="Instagram"></a>
            </ul>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="../Js/basket.js"></script>
    <script src="../Js/darkmode.js"></script>
    <script src="../Js/search.js"></script>
</body>

</html>