<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosper</title>
    <link rel="stylesheet" href="../assets/styleIndex.css">
</head>

<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda | </a>
            <a href="/login">Iniciar Sesión | </a>
            <a href="/signUp">Registrarse</a>
        </div>

        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niño/a</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <a class="icons" href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
            <img class="icon-cart" width="30rem" src="../media/basket.svg" alt="Carrito">
            <div class="container-cart-icon">
            </div>
        </div>
    </header>


    <div class="carousel">
        <div class="slide">
            <img src="../media/photo2_carousel.jpg" alt="">
            <img src="../media/photo1_carousel.png" alt="">
        </div>
    </div>
    <br>
    <div class="index_container">
        <h2 class="subtitle">Sudaderas</h2>

        <div class="clothes_container">
            <img src="../media/hoodie.png" alt="">
            <img src="../media/blue_hoodie.jpg" alt="">
            <img src="../media/nike_hoodie.jpg" alt="">
            <img src="../media/gray_hoodie.jpg" alt="">
        </div>

        <div class="label">
            <p>SUDADERA1</p>
            <p>SUDADERA2</p>
            <p>SUDADERA3</p>
            <p>SUDADERA4</p>
        </div>

        <div class="label_prices">
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
        </div>
        <br>
        <div>
            <h2 class="subtitle">Pantalones</h2>

            <div class="clothes_container">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
            </div>

            <div class="label">
                <p>PANTALÓN1</p>
                <p>PANTALÓN2</p>
                <p>PANTALÓN3</p>
                <p>PANTALÓN4</p>
            </div>

            <div class="label_prices">
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">GHOSPER</p>
            </div>
            <div class="right-section-footer">
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                    </li>
                    <li><a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="../media/instagram.svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>