<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosper</title>
    <link rel="stylesheet" href="../assets/styleIndex.css">
</head>

<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda | </a>
            <a href="/login">Iniciar Sesión | </a>
            <a href="/signUp">Registrarse</a>
        </div>

        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niño/a</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <a class="icons" href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
            <img class="icon-cart" width="30rem" src="../media/basket.svg" alt="Carrito">
            <div class="container-cart-icon">
                <div class="count-products">
                    <span id="contador-productos">0</span>
                </div>
            </div>

            <div class="container-cart-products hidden-cart">
                <div class="row-product hidden">
                    <div class="cart-product">
                        <div class="info-cart-product">
                            <span class="cantidad-producto-carrito">1</span>
                            <p class="titulo-producto-carrito">Zapatos Nike</p>
                            <span class="precio-producto-carrito">$80</span>
                        </div>
                        <svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								class="icon-close"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M6 18L18 6M6 6l12 12"
								/>
							</svg>
                    </div>
                </div>

                <div class="cart-total hidden">
                    <h3>Total:</h3>
                    <span class="total-pagar">$200</span>
                </div>
                <p class="cart-empty">El carrito está vacío</p>
            </div>
        </div>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        </div>
    </header>


    <div class="carousel">
        <div class="slide">
            <img src="../media/photo2_carousel.jpg" alt="">
            <img src="../media/photo1_carousel.png" alt="">
        </div>
    </div>
    <br>
    <div class="index_container">
        <h2 class="subtitle">Sudaderas</h2>

        <div class="clothes_container">
            <img src="../media/hoodie.png" alt="">
            <img src="../media/blue_hoodie.jpg" alt="">
            <img src="../media/watch_hoodie.webp" alt="">
            <img src="../media/navy_hoodie.webp" alt="">
        </div>

        <div class="label">
            <p>SUDADERA1</p>
            <p>SUDADERA2</p>
            <p>SUDADERA3</p>
            <p>SUDADERA4</p>
        </div>

        <div class="label_prices">
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
            <button class="btn-add-cart">Añadir al carrito</button>
            <p>€60</p>
        </div>
        <br>
        <div>
            <h2 class="subtitle">Pantalones</h2>

            <div class="clothes_container">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
            </div>

            <div class="label">
                <p>PANTALÓN1</p>
                <p>PANTALÓN2</p>
                <p>PANTALÓN3</p>
                <p>PANTALÓN4</p>
            </div>

            <div class="label_prices">
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">GHOSPER</p>
            </div>
            <div class="right-section-footer">
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                    </li>
                    <li><a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="../media/instagram.svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>