<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosper</title>
    <link rel="stylesheet" href="../assets/styleIndex.css">
    <script src="../Js/basket.js"></script>
</head>

<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda |</a>
            <a href="/login">Iniciar Sesión |</a>
            <a href="/signUp">Registrarse</a>
        </div>

        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niño/a</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <a class="icons" href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
            <img class="icon-cart" width="30rem" src="../media/basket.svg" alt="Carrito">
            <div class="container-cart-icon">
            </div>
        </div>
    </header>


    <div class="carousel">
        <div class="slide">
            <img src="../media/photo2_carousel.jpg" alt="">
            <img src="../media/photo1_carousel.png" alt="">
        </div>
    </div>
    <br>
    <h2 class="index_container">Sudaderas</h2>

    <div class="clothes_container">
        <div class="item">
            <figure>
                <img src="../media/hoodie.png" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera1</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/blue_hoodie.jpg" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera2</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/nike_hoodie.jpg" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera3</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/gray_hoodie.jpg" alt="producto">
            </figure>

            <div class="info_product">
                <h2>Sudadera4</h2>
                <p class="price">€60</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>
    <br>
    <h2 class="index_container">Pantalones</h2>

    <div class="clothes_container">
        <div class="item">
            <figure>
                <img src="../media/trousers.webp" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón1</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/gray_trouser.jpg" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón2</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/black_trouser.jpg" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón3</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../media/shorts.jpg" alt="">
            </figure>

            <div class="info_product">
                <h2>Pantalón3</h2>
                <p class="price">€80</p>
                <button class="btn-add-cart">Añadir al carrito</button>
            </div>
        </div>
    </div>
    <br>

    <footer>
        <div class="right-section-footer">
            <p class="store-name-footer">GHOSPER</p>
            <ul class="social-icons-footer">
                <a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                <a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a>
                <a href="#"><img src="../media/instagram.svg" alt="Instagram"></a>
            </ul>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>