<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosper</title>
    <link rel="stylesheet" href="../assets/styleIndex.css">
    <link rel="stylesheet" href="font-awesome/css/all.min.css">
</head>

<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda | </a>
            <a href="/login">Iniciar Sesión | </a>
            <a href="/signUp">Registrarse</a>
        </div>

        </div>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <div id="container-darkMode">
                <div class="toggle"></div>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a>
                        <ul class="submenu">
                            <li><a href="#">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Novedades</a></li>
                                    <li><a href="#">Superventas</a></li>
                                    <li><a href="">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas las Zapatillas</a></li>
                                    <li><a href="#">Para el día a día</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Football</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas la ropa</a></li>
                                    <li><a href="#">Sudaderas</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Chaquetas</a></li>
                                    <li><a href="#">Partes de arriba</a></li>
                                    <li><a href="#">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todos los accesorios y equipamiento</a></li>
                                    <li><a href="#">Bolsas y mochilas</a></li>
                                    <li><a href="#">Calcetines</a></li>
                                    <li><a href="#">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Mujer</a>
                        <ul class="submenu">
                            <li><a href="#">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Novedades</a></li>
                                    <li><a href="#">Superventas</a></li>
                                    <li><a href="">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas las Zapatillas</a></li>
                                    <li><a href="#">Para el día a día</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Football</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas la ropa</a></li>
                                    <li><a href="#">Sudaderas</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Chaquetas</a></li>
                                    <li><a href="#">Partes de arriba</a></li>
                                    <li><a href="#">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todos los accesorios y equipamiento</a></li>
                                    <li><a href="#">Bolsas y mochilas</a></li>
                                    <li><a href="#">Calcetines</a></li>
                                    <li><a href="#">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Niño/a</a>
                        <ul class="submenu">
                            <li><a href="#">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Novedades</a></li>
                                    <li><a href="#">Superventas</a></li>
                                    <li><a href="">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas las Zapatillas</a></li>
                                    <li><a href="#">Para el día a día</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Football</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas la ropa</a></li>
                                    <li><a href="#">Sudaderas</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Chaquetas</a></li>
                                    <li><a href="#">Partes de arriba</a></li>
                                    <li><a href="#">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todos los accesorios y equipamiento</a></li>
                                    <li><a href="#">Bolsas y mochilas</a></li>
                                    <li><a href="#">Calcetines</a></li>
                                    <li><a href="#">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Ofertas</a>
                        <ul class="submenu">
                            <li><a href="#">Destacado</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Novedades</a></li>
                                    <li><a href="#">Superventas</a></li>
                                    <li><a href="">Prendas de abrigo</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Zapatillas</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas las Zapatillas</a></li>
                                    <li><a href="#">Para el día a día</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Football</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Gym</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Skateboard</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ropa</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todas la ropa</a></li>
                                    <li><a href="#">Sudaderas</a></li>
                                    <li><a href="#">Pantalones</a></li>
                                    <li><a href="#">Chaquetas</a></li>
                                    <li><a href="#">Partes de arriba</a></li>
                                    <li><a href="#">Pantalones cortos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Deporte</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Basketball</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Golf</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Accesorios y Equipamiento</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">Todos los accesorios y equipamiento</a></li>
                                    <li><a href="#">Bolsas y mochilas</a></li>
                                    <li><a href="#">Calcetines</a></li>
                                    <li><a href="#">Ghosper club</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
                <a href="#" class="cart"><img width="30rem" src="../media/basket.svg" alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <div class="carousel">
        <div class="slide">
            <img src="../media/photo2_carousel.jpg" alt="">
            <img src="../media/photo1_carousel.png" alt="">
        </div>
    </div>
    <br>
    <div class="hoodies">
        <h2 class="subtitle">Sudaderas</h2>
        <a href="">
            <img class="icon_arrow" src="../media/icon_left.png">
            <img class="icon_arrow" src="../media/icon_right.png" alt="">
        </a>

        <div class="clothes_container">
            <img src="../media/hoodie.png" alt="">
            <img src="../media/hoodie.png" alt="">
            <img src="../media/hoodie.png" alt="">
            <img src="../media/hoodie.png" alt="">
        </div>

        <div class="label">
            <p>SUDADERA1</p>
            <p>SUDADERA2</p>
            <p>SUDADERA3</p>
            <p>SUDADERA4</p>
        </div>

        <div class="label_prices">
            <p>€60</p>
            <p>€60</p>
            <p>€60</p>
            <p>€60</p>
        </div>

        <br>

        <div>
            <h2 class="subtitle">PANTALONES</h2>
            <a href="">
                <img class="icon_arrow" src="../media/icon_left.png">
                <img class="icon_arrow" src="../media/icon_right.png" alt="">
            </a>

            <div class="clothes_container">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
                <img src="../media/trousers.webp" alt="">
            </div>

            <div class="label">
                <p>PANTALÓN1</p>
                <p>PANTALÓN2</p>
                <p>PANTALÓN3</p>
                <p>PANTALÓN4</p>
            </div>

            <div class="label_prices">
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
            </div>

            <footer>
                <div class="container-footer">
                    <div class="left-section-footer">
                        <p class="store-name-footer">GHOSPER</p>
                    </div>
                    <div class="right-section-footer">
                        <ul class="social-icons-footer">
                            <li><a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a>
                            </li>
                            <li><a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                            <li><a href="#"><img src="../media/instagram.svg" alt="Instagram"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-footer">
                    <p class="location-footer">Spain</p>
                    <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
                </div>
            </footer>
<script src="../Js/darkmode.js">
  
</script>
</body>

</html>