<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa</title>
    <link rel="stylesheet" href="../assets/styleLogin.css">
</head>
<body>
    <header>
        <div class="header_gray">
           <a href="#">Ayuda | </a> 
           <a href="/login">Iniciar Sesión | </a> 
           <a href="/signUp">Registrarse</a>
        </div>
        <div class="container-header">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niño/a</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img src="../media/heart.svg" width="30rem" alt="Favoritos"></a>
                <a href="#" class="cart"><img src="../media/basket.svg" width="30rem" height="35rem
                    " alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="title">LAS RECOMPENSAS DE GHOSPER CLUB TE ESPERAN</div>
        <div class="subtitle">Realiza pedidos sin gastos de envío, consigue códigos descuento y productos exclusivos en Ghosper.</div>
        <form id="login-form" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="sombra-input" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="sombra-input" name="password" required>
            </div>
            <div class="form-group-checkbox">
                <input type="checkbox" id="keep-signed" name="keep-signed">
                <label for="keep-signed">Mantener sesión iniciada</label>
            </div>
            <button type="submit" class="btn-login">INICIAR SESIÓN</button>
        </form>
    </div>
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">GHOSPER</p>
            </div>
            <div class="right-section-footer">
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="../media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a></li>
                    <li><a href="#"><img src="../media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="../media/instagram.svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="location-footer">Spain</p>
            <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>
</html>