<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <header></header>
    <main>
        <header>
            <h2></h2>
            <div>
                <p>Ocultar filtros</p>
                <div>
                    <img src="" alt="">
                </div>
                <p>Ordenar por</p>
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </header>
        <aside>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div>
                <p>Sexo</p>
            </div>
            <div>
                <p>Filtrar por precio</p>
            </div>
            <div>
                <p>Talla</p>
            </div>
            <div>
                <p>Color</p>
            </div>
        </aside>
        <section>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
        </section>
    </main>
</body>
</html>