body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  background-color: #f2f2f2;
  color: #252525;
}
/*HEADER CODE*/
.header_gray {
  background-color: #111;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-transform: uppercase;  
}

.header_gray a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.header_gray{
  background-color: #bababa;
  height: 5%;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.header_gray a{
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.logo img {
  max-width: 100px;
}

#container-darkMode{
  background-color: #f8f8f8;
  position: relative;
  width: 80px;
  height: 40px;
  box-shadow: inset 4px 4px 6px #cecece,
              inset -4px -4px 6px #fff;
  margin: 0px auto;
  margin-top: 350px;
  border-radius: 25px;
  cursor: pointer;  
}

.toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: scale(.7);
  background-color: linear-gradient(145deg, #D8D8D8, #ffff);
  border-radius: 25px;
  box-shadow: 3px 3px 8px #c4c4c4,
              -3px -3px 8px #c4c4c4; 
}

.container.active .toggle{
  left: 40px;
}

body.active {
  background-color: rgb(23, 23, 23);
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: row; /* Cambiar de column a row para alinear horizontalmente */
} 

.menu li {
  position: relative;
  margin-right: 20px;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #000000;
}

.submenu {
  position: fixed;
  top: 40px;
  margin-top: 80px;
  right: 0;
  display: none;
  z-index: 1;
  flex-direction: row; /* Cambiar de column a row para alinear horizontalmente */
  width: 100vw;
  margin-left: 3rem;
}

.submenu > li {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 0;
  flex-grow: 1;
}

.submenu > li > a {
  display: block;
  padding: 15px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu li:hover .submenu {
  display: flex;
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  background-color: rgb(255, 255, 255);
}

.menu-vertical li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px 20px;
}

.menu-vertical li:hover {
  background-color: rgb(255, 255, 255);
}
/*BODY STYLES*/
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

.carousel {
  width: 100%;
  position: relative;
}

.slide img {
  width: 50%;
}

.slide {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .registro-container {
    width: 90%;
  }
}

.clothes_container {
  display: flex;
  flex-direction: row;
}

.clothes_container img {
  width: 21rem;
  height: 27rem;
  margin-right: 30px;
  border-radius: 10px;
}

.label {
  display: flex;
  flex-direction: row;
}

.label p {
  max-width: 100%;
  position: relative;
  left: 3px;
  margin-right: 270px;
}

.icon_arrow {
  border-radius: 100px;
  width: 4rem;
  position: relative;
  left: 80rem;
  top: auto;
}

.label_prices {
  display: flex;
  flex-direction: row;
}

.label_prices p {
  max-width: 100%;
  position: relative;
  left: 3px;
  margin-right: 341px;
  margin-top: -10px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  margin-left: 4.5rem;
}

  .left-section-footer {
    margin-right: 40rem;
  }
  
  .store-name-footer {
    margin-bottom: 15px; /* Espacio entre el nombre de la tienda y la ubicación */
  }
  
  .right-section-footer {
    display: flex;
  }
  
  .social-icons-footer {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons-footer li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons-footer li:last-child {
    margin-right: 0;
  }
  
  /* New styles for Spain and social icons */
  
  .sapin {
    margin-top: 5px; /* Ajuste el espacio superior según sea necesario */
    font-weight: bold; /* Opcional: agrega negrita a Sapin */
  }
  
  .social-icons-footer img {
    width: 30px; /* Aumenta el ancho a 30px */
    height: 30px; /* Agrega altura para iconos cuadrados */
  }
  
  .social-icons-footer img:hover {
    opacity: 0.7;
  }
  
  /* Estilo para el texto de derechos de autor */
  .copyright-footer {
    margin-top: 10px;
  }
  .bottom-footer{
    display:flex;
    justify-content:flex-start;
  }
  .copyright-footer{
    margin-left: 25rem;
  }
  .location-footer{
    margin-left: 4.5rem;
  }