body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/*HEADER CODE*/
.header_gray{
    background-color: #bababa;
    height: 5%;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.header_gray a{
  color: black;
  text-decoration: none;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.icons a {
    margin-left: 20px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

.sombra-input{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .icons {
        display: none;
    }

    .menu-toggle.open .icon-bar {
        background-color: #ff0000;
    }

    .menu-toggle.open .icon-bar:first-child {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .icon-bar:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Estilos generales */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal */
  
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .form-container {
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
    font-weight: bold; 
    text-align: left; 
  }
  
 .form-container p {
    color: #7f7f7f;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold; 
    text-align: left; 
  }

  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
  }
  
  .checkbox-group {
    margin-bottom: 20px;
  }
  
  input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  label[for="mantenerSesionIniciada"] {
    display: inline-block;
    color: #333;
  }
  
  button[type="submit"] {
    display: block;
    height: 20%;
    width: 100%;
    padding: 10px;
    background-color: #1e2022;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjusted font size */
    transition: background-color 0.3s;
  }
  
/*FOOTER*/

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.right-section-footer {
  display: flex;
  align-items: center;
}

.store-name-footer {
  max-width: 50px;
  margin-left: 4.5rem;
  margin-bottom: 15px;
}

.social-icons-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  transform: translateX(70rem);
}

.social-icons-footer img {
  width: 55px;
  height: 40px;
}

.social-icons-footer img:hover {
  opacity: 0.7;
  transition: all .5s;
}

.bottom-footer {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.location-footer {
  display: flex;
  justify-content: flex-start;
  margin-left: 4.5rem;
}