body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}
/*HEADER CODE*/
.header_gray{
  background-color: #bababa;
  height: 5%;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.header_gray a{
  color: black;
  text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 100px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.icons a {
    margin-left: 20px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .icons {
        display: none;
    }

    .menu-toggle.open .icon-bar {
        background-color: #ff0000;
    }

    .menu-toggle.open .icon-bar:first-child {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .icon-bar:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
  
.container-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  margin-left: 4.5rem;
}

.left-section-footer {
  margin-right: 40rem;
}
  
.store-name-footer {
  margin-bottom: 15px;
}
  
.right-section-footer {
  display: flex;
}
  
.social-icons-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.social-icons-footer li {
  display: inline-block;
  margin-right: 10px;
}
  
.social-icons-footer li:last-child {
  margin-right: 0;
}
  
  /* New styles for Spain and social icons */
  
.sapin {
  margin-top: 5px; /* Ajuste el espacio superior según sea necesario */
  font-weight: bold; /* Opcional: agrega negrita a Sapin */
}
  
.social-icons-footer img {
  width: 30px; /* Aumenta el ancho a 30px */
  height: 30px; /* Agrega altura para iconos cuadrados */
}
  
.social-icons-footer img:hover {
  opacity: 0.7;
}
  
  /* Estilo para el texto de derechos de autor */
.copyright-footer {
  margin-top: 10px;
}
.bottom-footer{
  display:flex;
  justify-content:flex-start;
}
.copyright-footer{
  margin-left: 25rem;
}
.location-footer{
  margin-left: 4.5rem;
}

/*Specific Product*/
section{
    display: flex;
}
#first-section{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    
}
#first-section :first-child{
    margin-top: 20px;
}
#first-section :last-child{
    margin-bottom: 200px;
}
#first-section img{
    width: 6vw;
    height: 6vw;
    border-radius: 12px;
    margin-bottom: 15px;
}

#second-section{
    margin-top: 20px;
    margin-left: 15px;
}

#second-section img{
    width: 42vw;
    height: 49vw;
}

#third-section{
    margin-top: 40px;
    margin-left: 120px;
}
#subproduct{
    display: flex;
    margin-bottom: 45px;
}
#subproduct img{
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
    border-radius: 4px;
}
#fourth-section{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 30vw;
}
.size{
    border: 1px solid gray;
    padding: 17px 21px 17px 21px;
    margin-right: 1vw;
    margin-bottom: 0;
}

#button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 5vw;
    margin-left: 80px;
    margin-top: 3vw;
    border: none;
    border-radius: 40px;
    background-color: #b6b3ad;
}
#button2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 5vw;
    margin-left: 80px;
    margin-top: 1vw;
    border: solid 1px black;
    border-radius: 40px;
    background-color: white;
}
button p{
    font-size:medium;
}
button img{
  width: 2vw;
  height: 2vw;
}