body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/*HEADER CODE*/
.header_gray {
  background-color: #bababa;
  height: 5%;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.header_gray a {
  color: black;
  text-decoration: none;
  margin: 10px;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  max-width: 100px;
}

#container-darkMode{
  display: inline-block;
  background-color: #f8f8f8;
  position: relative;
  width: 80px;
  height: 40px;
  box-shadow: inset 4px 4px 6px #cecece,
              inset -4px -4px 6px #fff;
  margin-right: -500px;
  border-radius: 25px;
  cursor: pointer;  
}

.toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: scale(.7);
  background-color: linear-gradient(145deg, #D8D8D8, #ffff);
  border-radius: 25px;
  box-shadow: 3px 3px 8px #c4c4c4,
              -3px -3px 8px #c4c4c4; 
}

.container.active .toggle{
  left: 40px;
}

body.active {
  background-color: rgb(33, 33, 33);
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: row; /* Cambiar de column a row para alinear horizontalmente */
  position: relative;
} 

.menu li {
  margin-right: 20px;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #000000;
}

.submenu {
  position: fixed;
  top: 40px;
  margin-top: 80px;
  right: 0;
  display: none;
  z-index: 1;
  flex-direction: row; /* Cambiar de column a row para alinear horizontalmente */
  width: 100vw;
  margin-left: 3rem;
}

.submenu > li {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 0;
  flex-grow: 1;
}

.submenu > li > a {
  display: block;
  padding: 15px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu li:hover .submenu {
  display: flex;
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  background-color: rgb(255, 255, 255);
}

.menu-vertical li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px 20px;
}

.menu-vertical li:hover {
  background-color: rgb(255, 255, 255);
}

.icon-cart{
  width: 40px;
  height: 40px;
  stroke: #000;
}

.icon-cart:hover{
  cursor: pointer;
}

img{
  max-width: 100%;
}

.container-icon{
  position: relative;
  display: flex;
  transform: translateX(-4rem);
  gap: 1rem;
  z-index: 1;
}

.count-products{
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos{
  font-size: 12px;
}

.container-cart-products{
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #fff;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  
}

.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 0.8;
  align-items: center;
}

.titulo-producto-carrito{
  font-size: 20px;
}

.precio-producto-carrito{
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito{
  font-weight: 400;
  font-size: 20px;
}

.icon-close{
  width: 25px;
  height: 25px;
}

.icon-close:hover{
  stroke: red;
  cursor: pointer;
}

.cart-total{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3{
  font-size: 20px;
  font-weight: 700;
}

.total-pagar{
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart{
  display: none;
}

.cart-empty{
  padding: 20px;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .icons {
    display: none;
  }

  .menu-toggle.open .icon-bar {
    background-color: #ff0000;
  }

  .menu-toggle.open .icon-bar:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.open .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .icon-bar:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/*BODY STYLES*/
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

.carousel {
  width: 100%;
  position: relative;
}

.slide img {
  width: 50%;
}

.slide {
  display: flex;
  flex-direction: row;
}

.index_container {
  display: grid;
  margin: 30px;
}

.clothes_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#trousers {
  display: block;
}

.item img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  transition: all .5s;
}

.item:hover img {
  transform: scale(1.2);
}

.item figure {
  overflow: hidden;
}

.info_product {
  padding: 2px 40px;
  line-height: 0.5;
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 18px;
}

.info_product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.right-section-footer {
  display: flex;
  align-items: center;
}

.store-name-footer {
  max-width: 50px;
  margin-left: 4.5rem;
  margin-bottom: 15px;
}

.social-icons-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  transform: translateX(70rem);
}

.social-icons-footer img {
  width: 55px;
  height: 40px;
}

.social-icons-footer img:hover {
  opacity: 0.7;
  transition: all .5s;
}

/* Estilo para el texto de derechos de autor */

.bottom-footer {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.location-footer {
  display: flex;
  justify-content: flex-start;
  margin-left: 4.5rem;
}