body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/*HEADER CODE*/
.header_gray{
    background-color: #797979;
    height: 5%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.icons a {
    margin-left: 20px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .icons {
        display: none;
    }

    .menu-toggle.open .icon-bar {
        background-color: #ff0000;
    }

    .menu-toggle.open .icon-bar:first-child {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .icon-bar:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
/*BODY STYLES*/
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .registro-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .registro-container form {
    display: flex;
    flex-direction: column;
  }
  
  .registro-container label {
    margin-bottom: 5px;
  }
  
  .registro-container input[type=text], 
  .registro-container input[type=email], 
  .registro-container input[type=password] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registro-container button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registro-container button:hover {
    background-color: #333;
  }
  
  @media screen and (max-width: 600px) {
    .registro-container {
      width: 90%;
    }
  }
  /*FOOTER CODE*/
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.left-section-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.store-name-footer {
    margin-bottom: 10px;
}

.location-footer {
    display: flex; /* Mantenemos el display flex para alinear horizontalmente */
    justify-content: space-between; /* Para separar los elementos horizontalmente */
    align-items: center; /* Alineamos los elementos verticalmente */
}
.location-footer p {
    margin: 0; /* Eliminamos el margen por defecto */
}
.location-footer img {
    margin-right: 10px; /* Espacio entre la imagen y el primer párrafo */
}
.social-icons-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Hacer que los íconos sociales se alineen horizontalmente */
}

.social-icons-footer li {
    margin-right: 10px;
}

.social-icons-footer li:last-child {
    margin-right: 0;
}

.social-icons-footer a img {
    width: 20px;
}

.social-icons-footer a img:hover {
    opacity: 0.7;
}

.copyright-footer {
    margin-top: 10px;
}

  