<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosper</title>
    <link rel="stylesheet" href="/Styles/styleIndex.css">
</head>

<body>
    <header>
        <div class="header_gray">

        </div>
        <div class="container">
            <div class="logo">
                <img src="/Media/logo_prueba.png" alt="Logo de la tienda">
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niño/a</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img width="30rem" src="/Media/heart.svg" alt="Favoritos"></a>
                <a href="#" class="cart"><img width="30rem" src="/Media/basket.svg" alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <div class="carousel">
        <div class="slide">
            <img src="/Media/photo2_carousel.jpg" alt="">
            <img src="/Media/photo1_carousel.png" alt="">
        </div>
    </div>
    <br>
    <div class="hoodies">
        <h2 class="subtitle">Sudaderas</h2>
        <a href="">
            <img class="icon_arrow" src="/Media/icon_left.png">
            <img class="icon_arrow" src="/Media/icon_right.png" alt="">
        </a>

        <div class="clothes_container">
            <img src="/Media/hoodie.png" alt="">
            <img src="/Media/hoodie.png" alt="">
            <img src="/Media/hoodie.png" alt="">
            <img src="/Media/hoodie.png" alt="">
        </div>

        <div class="label">
            <p>SUDADERA1</p>
            <p>SUDADERA2</p>
            <p>SUDADERA3</p>
            <p>SUDADERA4</p>
        </div>

        <div class="label_prices">
            <p>€60</p>
            <p>€60</p>
            <p>€60</p>
            <p>€60</p>
        </div>

        <br>

        <div>
            <h2 class="subtitle">PANTALONES</h2>
            <a href="">
                <img class="icon_arrow" src="/Media/icon_left.png">
                <img class="icon_arrow" src="/Media/icon_right.png" alt="">
            </a>

            <div class="clothes_container">
                <img src="/Media/trousers.webp" alt="">
                <img src="/Media/trousers.webp" alt="">
                <img src="/Media/trousers.webp" alt="">
                <img src="/Media/trousers.webp" alt="">
            </div>

            <div class="label">
                <p>PANTALÓN1</p>
                <p>PANTALÓN2</p>
                <p>PANTALÓN3</p>
                <p>PANTALÓN4</p>
            </div>

            <div class="label_prices">
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
                <p>€80</p>
            </div>

            <footer>
                <div class="container-footer">
                    <div class="left-section-footer">
                        <p class="store-name-footer">GHOSPER</p>
                    </div>
                    <div class="right-section-footer">
                        <ul class="social-icons-footer">
                            <li><a href="#"><img src="/Media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a></li>
                            <li><a href="#"><img src="/Media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                            <li><a href="#"><img src="/Media/instagram-svgrepo-com (1).svg" alt="Instagram"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-footer">
                    <p class="location-footer">Spain</p>
                    <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
                </div>
            </footer>

</body>

</html>