<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosper</title>
    <link rel="stylesheet" href="/Styles/styleIndex.css">
</head>
<body>
    <header>
        <div class="header_gray">

        </div>
        <div class="container">
            <div class="logo">
                <img src="/Media/logo_prueba.png" alt="Logo de la tienda">
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niño/a</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img src="heart-icon.png" alt="Favoritos"></a>
                <a href="#" class="cart"><img src="cart-icon.png" alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <div class="carousel">
        <div class="slide">
            <img src="/Media/photo2_carousel.jpg" alt="">
            <img src="/Media/photo1_carousel.png" alt="">
        </div>
    </div>
    <h2>Sudaderas</h2>
    <div>
        <img class="clothes" src="/Media/hoodie.png" alt="">
        <img class="clothes" src="/Media/hoodie.png" alt="">
        <img class="clothes" src="/Media/hoodie.png" alt="">
        <img class="clothes" src="/Media/hoodie.png" alt="">
    </div>
    
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">Ghosper</p>
            </div>
            <div class="right-section-footer">
                <div class="location-footer">
                    <img src="location-icon.png" alt="Ubicación">
                    <p>Spain</p>
                </div>
                <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="Imagenes/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a></li>
                    <li><a href="#"><img src="twitter-icon.png" alt="Twitter"></a></li>
                    <li><a href="#"><img src="instagram-icon.png" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>