<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa</title>
    <link rel="stylesheet" href="/Styles/styleLogin.css">
</head>
<body>
    <header>
        <div class="header_gray">

        </div>
        <div class="container-header">
            <div class="logo">
                <img src="/Media/logo_prueba.png" alt="Logo de la tienda">
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Niño/a</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img src="/Media/heart-alt-svgrepo-com (1).svg" width="30rem" alt="Favoritos"></a>
                <a href="#" class="cart"><img src="/Media/basket-alt-svgrepo-com.svg" width="30rem" height="35rem
                    " alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="title">LAS RECOMPENSAS DE GHOSPER CLUB TE ESPERAN</div>
        <div class="subtitle">Realiza pedidos sin gastos de envío, consigue códigos descuento y productos exclusivos en Ghosper.</div>
        <form action="procesar_login.php" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="sombra-input" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="sombra-input" name="password" required>
            </div>
            <div class="form-group-checkbox">
                <input type="checkbox" id="keep-signed" name="keep-signed">
                <label for="keep-signed">Mantener sesión iniciada</label>
            </div>
            <button type="submit" class="btn-login">INICIAR SESIÓN</button>
        </form>
    </div>
    <footer>
        <div class="container-footer">
            <div class="left-section-footer">
                <p class="store-name-footer">Ghosper</p>
            </div>
            <div class="right-section-footer">
                <div class="location-footer">
                    <img src="location-icon.png" alt="Ubicación">
                    <p>Spain</p>
                </div>
                <p class="copyright-footer">© 2024 Ghosper. Todos los derechos reservados.</p>
                <ul class="social-icons-footer">
                    <li><a href="#"><img src="/Media/meta-logo-facebook-svgrepo-com.svg" alt="Facebook"></a></li>
                    <li><a href="#"><img src="/Media/twitter-3-svgrepo-com.svg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="/Media/instagram-svgrepo-com (1).svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
