<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="../assets/styleProductList.css">
</head>
<body>
    <header>
        <div class="header_gray">
            <a href="#">Ayuda | </a> 
            <a href="/login">Iniciar Sesión | </a> 
            <a href="/signUp">Registrarse</a>
        </div>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="../media/logo_prueba.png" alt="Logo de la tienda"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/productList">Hombre</a></li>
                    <li><a href="/productList">Mujer</a></li>
                    <li><a href="/productList">Niño/a</a></li>
                    <li><a href="/productList">Ofertas</a></li>
                </ul>
            </nav>
            <div class="icons">
                <a href="#" class="favorite"><img width="30rem" src="../media/heart.svg" alt="Favoritos"></a>
                <a href="#" class="cart"><img width="30rem" src="../media/basket.svg" alt="Carrito"></a>
            </div>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <main>
        <header>
            <h2></h2>
            <div>
                <p>Ocultar filtros</p>
                <div>
                    <img src="" alt="">
                </div>
                <p>Ordenar por</p>
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </header>
        <aside>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div>
                <p>Sexo</p>
            </div>
            <div>
                <p>Filtrar por precio</p>
            </div>
            <div>
                <p>Talla</p>
            </div>
            <div>
                <p>Color</p>
            </div>
        </aside>
        <section>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
            <article>
                <img src="" alt="">
                <p></p>
                <p></p>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </article>
        </section>
    </main>
</body>
</html>